doctype html
head
  title [React] Prototype for Jam3
  meta(charset="utf-8")
  meta(name="viewport" content="width=device-width, initial-scale=1")
  link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato")
  link(rel="stylesheet" href="style.css")
body
  header
    .container
      nav
        button.hamburger.hamburger--spin(type="button")
          span.hamburger-box
            span.hamburger-inner
        each item in ['text', 'twitter', 'carousel', 'share']
          a.center(href=`#${item}`)= item
  section.jumbotron
  script(src="bundle.js")
