doctype html
head
  title [React] Prototype for Jam3
  meta(charset="utf-8")
  meta(name="viewport" content="width=device-width, initial-scale=1")
  link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato")
  link(rel="stylesheet" href="style.css")
body
  header
    .container
      nav
        button.hamburger.hamburger--spin(type="button")
          span.hamburger-box
            span.hamburger-inner
        each item in ['text', 'twitter', 'carousel', 'share']
          a.center(href=`#${item}`)= item
  main
    section.jumbotron
    section#text
      h1.center Title
      .container
        p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
        p Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.
        p Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibu
    section#twitter
      h1.center Twitter
      .container
        -
          var user = {
            "name": "Fabian Tjoe-A-On",
            "screen_name": "fabiantjoe_a_on",
            "profile_image_url_https": "https://pbs.twimg.com/profile_images/738128121887633408/iDnjnXW7.jpg"
          }
        - for (var i = 0; i < 5; i++)
          .person
            img(src=user.profile_image_url_https)
            .name.center= user.name
            .screen_name.center= '@' + user.screen_name
    section#carousel
      h1.center Carousel
      .container
        .content
          .box(data-current=0)
            img
            img
            img
          .box(data-current=1)
            img
            img
            img
        .left
          .arrow
        .right
          .arrow
    section#share
      h1.center Share
      img(src="placeholder.png")
      button Share on Facebook
    footer
      .center
        | Made by&nbsp;
        a(href="http://wenchen.li/") Neo
        | &nbsp;for&nbsp;
        a(href="http://www.jam3.com/") Jam3
        | &nbsp;- 2016
  script(src="bundle.js")
