doctype html
head
  title [React] Prototype for Jam3
  meta(charset="utf-8")
  meta(name="viewport" content="width=device-width, initial-scale=1")
  link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato")
  link(rel="stylesheet" href="style.css")
body
  header
    .container
      nav
        button.hamburger.hamburger--spin(type="button")
          span.hamburger-box
            span.hamburger-inner
        each item in ['text', 'twitter', 'carousel', 'share']
          a.center(href=`#${item}`)= item
  main
    section
      .jumbotron
    section#text
      .container
        h1.center Text Block
        p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
        p Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.
        p Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibu
  script(src="bundle.js")
